/*---------Popup Primera Compra -----*/
/*var homeMantencion = {
    init: function() {
        homeMantencion.firstShop();
    },
    firstShop: function() {*/
      /*let template = `<div class="pop-bouden">
      //     <form id="first-shop_form" class="formNewsletter" enctype="multipart/form-data">
      //         <div class="content-newstletter">
                  
       //              <div class="content-five-block-terminos">
  // <!--<a href="/Ayuda/Legales-de-Campanas">Conoce cómo participar<i class="far fa-arrow-alt-circle-right"></i></a>-->
               //    </div>
              // </div>
              // <form>
       //</div>`;*/
       /* Swal.fire({*/
            /*html: template,*/
          /*html:'<a href="https://www.bouden.pe/reloj-attitude-correa-sintetica-color-beige-dial-beige-logo-universitario-wenger/p"><img src="https://boudenpe.vteximg.com.br/arquivos/desktop_popup_reloj-wenger-bouden-2-24-08-2021.png" alt="reloj" width="400"/></a>',*/
           /* showConfirmButton: false,
            width: 400,*/
            /*background: '#fff url(https://boudenpe.vteximg.com.br/arquivos/desktop_popup_cyber-bouden.png)',*/
          /*  customClass: "primera-compra",
            showCloseButton: true,
        });
        $("#first-shop_form").on('submit', function(e) {
            e.preventDefault();
            let datos = {
                "nombre": $("#nombre_popup").val(),
                "email": $("#email_popup").val(),
                "nacimiento": $("#fecha_popup").val(),
                "checking": $("#terminos_popup").prop("checked")
            };
            //console.log(datos);
            callMasterData.sendData(datos);
        });
    },
};*/

/*

$("#cyber_form").on('submit', function(e) {
    e.preventDefault();
    let datos = {
        "nombre": $("#nombre_cyber").val(),
        "email": $("#email_cyber").val(),
        "nacimiento": $("#fecha_cyber").val(),
        "cuchillos": $("#checkbox1").prop("checked"),
        "billeteras": $("#checkbox2").prop("checked"),
        // "binoculares": $("#checkbox3").prop("checked"),
        "cocina": $("#checkbox4").prop("checked"),
        //"cuchillos": $("#checkbox5").prop("checked"),
        "fragancias": $("#checkbox6").prop("checked"),
        // "linternas": $("#checkbox7").prop("checked"),
        "maletas": $("#checkbox8").prop("checked"),
        "mochilas": $("#checkbox9").prop("checked"),
        "navajas": $("#checkbox10").prop("checked"),
        "relojes": $("#checkbox11").prop("checked")


    };
  
    callMasterData.sendDataCyber(datos);
});*/

/*---------Popup Primera Compra -----*/
var homeMantencion = {
    init: function() {
        homeMantencion.firstShop();
    },
    firstShop: function() {
        let template = `<div class="pop-bouden">
           <form id="first-shop_form" class="formNewsletter" enctype="multipart/form-data">
               <div class="content-newstletter">
                   <div class="content-first-block">
                   <label for="nombre_popup">Nombre completo</label>
                       <input type="text" name="Nombres" id="nombre_popup"
                           placeholder="Tu nombre" value="" required autocomplete="off">
                   </div>
                   <div class="content-second-block">
                   <label for="email_popup">Email</label>
                       <input type="email" name="Email" id="email_popup" 
                           placeholder="ejemplo@correo.com" required autocomplete="off" type="email">
                           </div>
                           <div class="content-three-block">
                      <label for="fecha_popup">Fecha de nacimiento</label>
                           <input type="date" name="Nacimiento" id="fecha_popup" 
                           required>
                   </div>
                   <div class="content-four-block">
                       <input type="checkbox" name="Terminos" id="terminos_popup" class=""  required>
                     <label for="terminos_popup">Quiero registrarme, enterarme de nuevas colecciones, ofertas, novedades y más.</label>
                   </div>
                   <div class="content-five-block">
   <button type="submit" id="popup_info" class="btn-enviar" name="submit"><span>Enviar</span><i class="far fa-arrow-alt-circle-right"></i></button>
                   </div>
               </div>
               <form>
       </div>`;
        Swal.fire({
            html: template,
            showConfirmButton: false,
            width: 300,
            background: '#fff url(https://boudenpe.vteximg.com.br/arquivos/modal-17-09-2021.png)',
            customClass: "primera-compra",
            showCloseButton: true,
        });
        $("#first-shop_form").on('submit', function(e) {
            e.preventDefault();
            let datos = {
                "nombre": $("#nombre_popup").val(),
                "email": $("#email_popup").val(),
                "nacimiento": $("#fecha_popup").val(),
                "checking": $("#terminos_popup").prop("checked")
            };
            //console.log(datos);
            callMasterData.sendData(datos);
        });
    },
};

$("body").on("click", "#first-shop, #first-shop-mobile, #first-shop-banner", function(e) {
    homeMantencion.firstShop();

});
const callMasterData = {
    sendData: (datos) => {
        let dataCliente = {
            registerfirstshop: true,
            email: datos.email
        };
        API.getFromMasterData('CL', `email=${datos.email}`, 'registerfirstshop', (result) => {
            if (result.error) return callMasterData.handleHTTPerror();
            let registered = result.length > 0 && result[0].registerfirstshop;
            if (registered) return callMasterData.registeredAlert();
            // Update clients table
            callMasterData.postOrPatchMasterData('CL', dataCliente, 'PATCH', (result) => {
                if (result.error) return callMasterData.handleHTTPerror();
                // Create new user in newsletter
                callMasterData.postOrPatchMasterData('PC', datos, 'POST', (result) => {
                    if (result.error) return callMasterData.handleHTTPerror();
                    callMasterData.successCreationAlert();
                });
            });
        });
    },
    sendDataCyber: (datos) => {

        let dataCliente = {
            cybernewsletter: true,
            email: datos.email
        };

        API.getFromMasterData('CL', `email=${datos.email}`, 'cybernewsletter', (result) => {
            if (result.error) return callMasterData.handleHTTPerror();
            let registered = result.length > 0 && result[0].cybernewsletter;
            if (registered) return callMasterData.registeredAlert();
            // Update clients table
            callMasterData.postOrPatchMasterData('CL', dataCliente, 'PATCH', (result) => {
                if (result.error) return callMasterData.handleHTTPerror();
                // Create new user in newsletter
                callMasterData.postOrPatchMasterData('NC', datos, 'POST', (result) => {
                    if (result.error) return callMasterData.handleHTTPerror();
                    callMasterData.successCyberAlert();
                });
            });
        });
    },
    handleHTTPerror: () => {
        swal.fire({
            html: "Tuvimos problemas procesando tu correo.<br>Por favor, inténtalo nuevamente.",
            showCloseButton: false,
            type: "warning",
            confirmButtonColor: "#000000",
            animation: false,
            customClass: "animated fadeIn",
            timer: 5500,
        });

    },
    registeredAlert: () => {
        swal.fire({
            html: `El email ya se encuentra suscrito.`,
            showCloseButton: false,
            type: "warning",
            confirmButtonColor: "#000000",
            animation: false,
            customClass: "animated fadeIn",
            timer: 5500,
        });
    },
    successCreationAlert: () => {
        swal.fire({
            html: `Te hemos enviando un e-mail con la  <br>confirmación de tu registro`,
            showCloseButton: false,
            type: "success",
            confirmButtonColor: "#000000",
            animation: false,
            customClass: "animated fadeIn",
            timer: 8500,
        });

    },
    successCyberAlert: () => {
        $("#nombre_cyber").val("");
        $("#email_cyber").val("");
        $("#fecha_cyber").val("");
        $("#checkbox1").removeAttr("checked");
        $("#checkbox2").removeAttr("checked");
        // $("#checkbox3").removeAttr("checked");
        $("#checkbox4").removeAttr("checked");
        $("#checkbox5").removeAttr("checked");
        $("#checkbox6").removeAttr("checked");
        // $("#checkbox7").removeAttr("checked");
        $("#checkbox8").removeAttr("checked");
        $("#checkbox9").removeAttr("checked");
        $("#checkbox10").removeAttr("checked");
        $("#checkbox11").removeAttr("checked");
        swal.fire({
            html: `¡Gracias por registrate!`,
            showCloseButton: false,
            type: "success",
            confirmButtonColor: "#000000",
            animation: false,
            customClass: "animated fadeIn",
            timer: 5500,
        });

    },
    postOrPatchMasterData: (databaseTableName, data, type, handleData) => {
        let url = `/api/dataentities/${databaseTableName}/documents`;
        // Ajax request
        $.ajax({
            "headers": {
                "Accept": "application/vnd.vtex.ds.v10+json",
                "Content-Type": "application/json"
            },
            "url": url,
            "async": false,
            "crossDomain": true,
            "type": type,
            "data": JSON.stringify(data),
            success: function(result) {
                handleData(result);
            },
            error: function(errorThrown) {
                let result = {
                    error: errorThrown
                };
                handleData(result);
            }
        });
    }
}
$(function() {
    $(document).ready(function() {
        function e(e, t, i, a, o, n) {
            document.cookie =
                e +
                "=" +
                escape(t) +
                (null == i ? "" : "; expires=" + i.toGMTString()) +
                (null == a ? "" : "; path=" + a) +
                (null == o ? "" : "; domain=" + o) +
                (null == n ? "" : "; secure");
        }

        function t(e) {
            var t = e + "=",
                i = document.cookie;
            return i.length > 0 && ((begin = i.indexOf(t)), -1 != begin) ?
                ((begin += t.length),
                    (end = i.indexOf(";", begin)), -1 == end && (end = i.length),
                    unescape(i.substring(begin, end))) :
                null;
        }
        if ((t("modal"), $(".home").length > 0))
            if (null != t("modal")) {
                var i = new Date();
                i.setTime(i.getTime() + 864e5), e("modal", "1", i);
            } else
                (i = new Date()).setTime(i.getTime() + 864e5),
                e("modal", "1", i),
                setTimeout(function() {
                    homeMantencion.firstShop();
                }, 3000);
    });
});

$(window).load(function() {
    if ($("body.pdp").length) {
        /*whatsapp share */
        let newattr = $("#wsapp-share").attr("href");
        newattr = newattr + dataLayer[0].pageUrl;
        $("#wsapp-share").attr("href", newattr);
    }
    /*avisame*/
    if ($("a.buy-button.buy-button-ref").is(":hidden")) {
        $(".form__qty").hide();
        $(".portal-notify-me-ref").show();
    }


    /*---------evento formulario de reclamo-----*/
    if ($("body.static.libro-de-reclamaciones").length) {
        document.querySelector("#smnt_complain").addEventListener("input", (e) => {
            if (document.getElementById("smnt_complain").value) {
                document.getElementById('smnt_claim').disabled = true;
            } else {
                document.getElementById('smnt_claim').disabled = false;
            }
        });
        document.querySelector("#smnt_claim").addEventListener("input", (e) => {
            if (document.getElementById("smnt_claim").value) {
                document.getElementById('smnt_complain').disabled = true;
            } else {
                document.getElementById('smnt_complain').disabled = false;
            }
        });
    }
});

$(window).on('orderFormUpdated.vtex', function(evt, orderForm) {
    if (orderForm.value > 0) {
        $("#progressbar, .message-bar").remove();
        let range;
        range = orderForm.value / 100;
        let percentbar = range / 299 * 100;
        $(".portal-minicart-ref").append("<div id='progressbar'><p id='icon'></p><div></div></div>");
        if (range <= 298) {
            let valor = 299 - range;
            valor = new Intl.NumberFormat("de-DE").format(valor);
            $("#progressbar > div").css("width", percentbar + "%");
            $('p#icon').css('margin-left', percentbar - 5 + "%");
            $(".portal-minicart-ref").append(`<p class="message-bar">¡Agrega S/ ${valor} a tu carrito y llévate el envío gratis!</p>`);
        }
        if (range >= 299) {

            $("#progressbar").remove();
            $(".portal-minicart-ref").append(`<p class="message-bar">¡Ya tienes envío gratis!</p>`);


        }
    }

});
$(document).ready(function() {
    $("#giftlistname").keyup(function() {
        var e = $(this).val();
        $("#giftlisturl").val(e)
    }), $("#giftlistaccept").attr("checked", "checked")
})

//cambio de de alert del sistema
var setAlertBox = function() {
    if ($("body.departamento, body.categoria").length) {
        const windowAlert = window.alert;
        window.alert = function(message) {
            message = 'Es necesario seleccionar 2 o 4  productos como máximo para realizar la comparación.'
            return windowAlert(message);

        };

    };

};

$(document).ready(function() {
    setAlertBox();
});
/*---------countdown cyber-----*/
if ($('body.landing.cyber ').length) {
    (function() {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let cyberday = new Date("2021-07-04 23:59:59-05:00".replace(/\s/, 'T')).getTime(),
            countDown = new Date(cyberday).getTime(),
            x = setInterval(function() {

                let now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {

                    countdown.style.display = "none";
                    clearInterval(x);
                }
                //seconds
            }, 0)
    }());
}

/*---------countdown cyber home-----*/
if ($('body.Home.cyber').length) {
    (function() {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let cyberday = new Date("2021-07-21 23:59:59-05:00".replace(/\s/, 'T')).getTime(),
            countDown = new Date(cyberday).getTime(),
            x = setInterval(function() {

                let now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {

                    countdown.style.display = "none";
                    clearInterval(x);
                }
                //seconds
            }, 0)
    }());
}
 
/*=========Dia del Padre============*/
              
$(function() {
  var swiper = new Swiper({
  el: '.icon-dad-day',
  slidesPerView: 4,
  spaceBetween: 30,
  loop: true,
  autoplay: {
    delay: 5000,
  },

});
});
              
/*=========Dia del Padre============*/  
  /* $(function() {
        var swiper = new Swiper(".mySwiper-cyber", {
        slidesPerView: 3,
        spaceBetween: 30,
          loop: true,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });  
});*/
 $(function() {
        var swiper = new Swiper(".mySwiper-cyber", {
            loop: true,
            loopAdditionalSlides:7,
            loopFillGroupWithBlank: true,
            loopedSlides:7,
            autoplay: {
                delay: 5000,
             },
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            // when window width is >= 320px
            320: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 10
            },
            // when window width is >= 480px
            480: {
                slidesPerView: 2,
                slidesPerGroup: 2,
                spaceBetween: 10
            },
            // when window width is >= 640px
            640: {
                slidesPerView: 3,
                slidesPerGroup: 3,
                spaceBetween: 0
            },
            1920: {
                slidesPerView: 3,
                slidesPerGroup: 3,
                spaceBetween: 10
            }
        }
      }); 
       
});              
  // Cuotas PDP     
  $window.load(() => {
       cuotasCategoryShelf()
     cuotaspdp()
 cuotaspdpMobile()
     // precioBase(),
        // precioBasepdp()
    /*if (document.body)
        mantencionInit();*/
});

/*function mantencionInit() {
    productoMantencion.init();

}
var productoMantencion = {
    init: function() {
        var $this = this;
        if ($('body.pdp ').length) {
            productoMantencion.coutasProduct();
        }
    },
    coutasProduct: () => {
        let skuBestInstallmentValue = $(
            ".valor-dividido.price-installments span strong .skuBestInstallmentValue"
        ).html();

        $(".coutas-producto").html(
      
         `<div class="coutas-producto" style="display:flex ; flex-direction:row; align-items: center;">
    <img src="https://boudenpe.vteximg.com.br/arquivos/logo_bbva-diners_65x30_26-07-2021.jpg" loading="lazy" alt="bouden">
    <p class="coutas-producto-text-fiestas" style="font-size: 12px;margin-left: 5px;">Paga en 6 cuotas de ${skuBestInstallmentValue} sin interés</p>
</div>`
        );

    },
}; */
    
function cuotaspdp() {
    $(".product__right--price .descricao-preco").each(function () {
 
      var remove$ = $(this).find('strong').html().split("S/")[1];
      /*console.log('remove$', remove$, 'this',$(this).html())*/
//       console.log('remove',remove$,$(this).find('precio'))
// var TotalDevengado = "500,000,000,000";
TotalDevengado = remove$.replace(/,/g, "");
// console.log(TotalDevengado)
      var convernum = Number(TotalDevengado);
      var resultcuotas = convernum / 6;
      var stringcuota = resultcuotas.toString();
      var stringsplit = stringcuota.split(".");
      var firstnum = stringsplit[0];
      /*console.log('stringsplit[1]', stringsplit[1], 'stringsplit[0]', stringsplit[0])*/
      if (stringsplit[1] == undefined) {
        var secondnum = stringsplit[0];
        var strongcuota = $(this)
         .parents(".product-content__sheet-right")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021 ");
          console.log(strongcuota)   
      
      
        $(strongcuota).html(`${secondnum}.00`);
      } else {
        var secondnum = stringsplit[1].slice(0, 3);
        var strongcuota = $(this)
        .parents(".product-content__sheet-right")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021");
        
          
  
        if (secondnum.length == 1) {
          $(strongcuota).html(`${firstnum}.${secondnum}0`);
        } else if (secondnum.length == 2) {
          $(strongcuota).html(`${firstnum}.${secondnum}`);
        } else {
          if (firstnum == 0) {
            $(strongcuota).html(`${secondnum}`);
            console.log('if', firstnum,secondnum )
          } else {
            $(strongcuota).html(`${firstnum}.${secondnum.slice(0, 2)}`);
            
            
          }
        }
        $(this)
         .parents(".product-content__sheet-right")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021")
        .show();
      
          
       
      }
    });
  }    

      function cuotaspdpMobile() {
    $(".product-content__sheet-left--price-mobile .descricao-preco").each(function () {
 
      var remove$ = $(this).find('strong').html().split("S/")[1];
      /*console.log('remove$', remove$, 'this',$(this).html())*/
//       console.log('remove',remove$,$(this).find('precio'))
// var TotalDevengado = "500,000,000,000";
TotalDevengado = remove$.replace(/,/g, "");
// console.log(TotalDevengado)
      var convernum = Number(TotalDevengado);
      var resultcuotas = convernum / 6;
      var stringcuota = resultcuotas.toString();
      var stringsplit = stringcuota.split(".");
      var firstnum = stringsplit[0];
      /*console.log('stringsplit[1]', stringsplit[1], 'stringsplit[0]', stringsplit[0])*/
      if (stringsplit[1] == undefined) {
        var secondnum = stringsplit[0];
        var strongcuota = $(this)
         .parents(".product-content__sheet-left--price-mobile")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021 ");
          console.log(strongcuota)   
      
      
        $(strongcuota).html(`${secondnum}.00`);
      } else {
        var secondnum = stringsplit[1].slice(0, 3);
        var strongcuota = $(this)
        .parents(".product-content__sheet-left--price-mobile")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021");
        
          
  
        if (secondnum.length == 1) {
          $(strongcuota).html(`${firstnum}.${secondnum}0`);
        } else if (secondnum.length == 2) {
          $(strongcuota).html(`${firstnum}.${secondnum}`);
        } else {
          if (firstnum == 0) {
            $(strongcuota).html(`${secondnum}`);
            console.log('if', firstnum,secondnum )
          } else {
            $(strongcuota).html(`${firstnum}.${secondnum.slice(0, 2)}`);
            
            
          }
        }
        $(this)
         .parents(".product-content__sheet-left--price-mobile")
        .find(".coutas-productoNoMostrar .textcuotas16-09-2021")
        .show();
      
          
       
      }
    });
  }
    
function cuotasCategoryShelf() {
    $(".category-product__best-price.promo").each(function () {
 
      var remove$ = $(this).find('precio').html().split("S/")[1];
      /*console.log('remove$', remove$, 'this',$(this).html())*/
//       console.log('remove',remove$,$(this).find('precio'))
// var TotalDevengado = "500,000,000,000";
TotalDevengado = remove$.replace(/,/g, "");
// console.log(TotalDevengado)
      var convernum = Number(TotalDevengado);
      var resultcuotas = convernum / 6;
      var stringcuota = resultcuotas.toString();
      var stringsplit = stringcuota.split(".");
      var firstnum = stringsplit[0];
      /*console.log('stringsplit[1]', stringsplit[1], 'stringsplit[0]', stringsplit[0])*/
      if (stringsplit[1] == undefined) {
        var secondnum = stringsplit[0];
        var strongcuota = $(this)
         .parents(".border-box-hover")
        .find(".coutas-producto .textcuotas");
          console.log(strongcuota)   
      
      
        $(strongcuota).html(`${secondnum}.00`);
      } else {
        var secondnum = stringsplit[1].slice(0, 3);
        var strongcuota = $(this)
        .parents(".border-box-hover")
        .find(".coutas-producto .textcuotas");
        
          
  
        if (secondnum.length == 1) {
          $(strongcuota).html(`${firstnum}.${secondnum}0`);
        } else if (secondnum.length == 2) {
          $(strongcuota).html(`${firstnum}.${secondnum}`);
        } else {
          if (firstnum == 0) {
            $(strongcuota).html(`${secondnum}`);
            console.log('if', firstnum,secondnum )
          } else {
            $(strongcuota).html(`${firstnum}.${secondnum.slice(0, 2)}`);
            
            
          }
        }
        $(this)
         .parents(".border-box-hover")
        .find(".coutas-producto .textcuotas")
        .show();
      
          
       
      }
    });
  }
     
              
              /*new modal 27-08-2021*/
               function closeModal27() {
    $(".modalBouden27").attr('style','display:none');
  }
  $(".modalBouden27, .modalBouden27").on("click", function () {
    closeModal27();
  });
    
    
 /*flag*/
  /*calculo porcentaje descuento PDP*/
  
if (document.querySelector('.price-list-price')) {
    console.log(document.querySelector('.price-list-price').innerText.split(' '))
    console.log(document.querySelector('.price-best-price').innerText.split(' '))
    let splitedFullPrice = document.querySelector('.price-list-price').innerText.split(' ');
    let fullPrice = parseFloat(splitedFullPrice[splitedFullPrice.length - 1]) * 1000;
    console.log("fullPrice",fullPrice)
    let splitedBestPrice = document.querySelector('.price-best-price').innerText.split(' ');
    let bestPrice = parseFloat(splitedBestPrice[splitedBestPrice.length - 1]) * 1000;
    console.log("bestPrice",bestPrice)
    if (fullPrice > bestPrice) {
        console.log("fullPrice > bestPrice")
        let discountRate = 100 - ((bestPrice * 100) / fullPrice)
        console.log("discountRate", discountRate)
        console.log(discountRate.toFixed())

        let discountRateEntero = discountRate.toFixed();
        document.querySelector('.product__content-flags').innerHTML = `<p class="porcentajePDP">${discountRateEntero}%</p>` ;
    }
}
   
 
    
/*desceuntos en todos los bancos*/


 /*desceuntos en todos los bancos PLP*/


const precioBase = () => {
// var email = document.querySelectorAll('.category-product__best-price').getElementsByTagName("precio");

var precio = document.querySelectorAll('.category-product__best-price').forEach(function(el,index) {
 console.log(el.innerHTML);
 console.log(el.innerText);
var precioCadena = el.innerText

// const TotalDevengado = "500,000,000,000";
precioCadena = precioCadena.replace(/,/g, "");
// console.log(TotalDevengado)

var precioNumber = Number(precioCadena.slice(3))

console.log(precioNumber)
//   console.log(typeof(precioNumber));
//   el.style.color = "orange";

  const precioDesceunto = (precioNumber*0.9).toFixed(2)
//    console.log(precioDesceunto)

  const cuotasBancos =  (precioDesceunto/6).toFixed(2)

   const caluloBanco = document.querySelectorAll('.category-product__best-price')[index]
     const contenedorBanco = document.createElement('div');
contenedorBanco.classList.add("precioDescuentoPLP") ;
     
//       contenedorBanco.classList.add = ("precioDescuentoPLP") ;
//  contenedorBanco.innerHTML = precioDesceunto ;

 caluloBanco.appendChild(contenedorBanco);

 const strongDescuento = document.createElement('div');
//  strongDescuento.classList.add("precioDescuentoPLP") ;
strongDescuento.innerHTML = "S/" + precioDesceunto ;
strongDescuento.classList.add("precioNumberDescuentoPLP") ;
 contenedorBanco.appendChild(strongDescuento);



 const imgDescuento = document.createElement('div');
 imgDescuento.classList.add("containerImgDescuentos") ;

 contenedorBanco.appendChild( imgDescuento);


 const imgDescuento1 = document.createElement('img');

 imgDescuento1.src = "https://boudenpe.vteximg.com.br/arquivos/bbva_120x60-23-09.png"
imgDescuento.classList.add("containerImgDescuentos1") ;
imgDescuento.appendChild( imgDescuento1);


  const imgDescuento2 = document.createElement('img');

 imgDescuento2.src = "https://boudenpe.vteximg.com.br/arquivos/diners_120x60-23-09.png"
imgDescuento.classList.add("containerImgDescuentos1") ;
imgDescuento.appendChild( imgDescuento2);

/*etiquetas cuotas*/

const cuotasBanco = document.querySelectorAll('.textcuotas')[index]
cuotasBanco.innerText = cuotasBancos

})

  
}
// console.log(precioBase())

 
 /*DESCEUNTOS PDP*/



const precioBasepdp = () => {
const containerPrecio = document.querySelector('.valor-por.price-best-price').getElementsByTagName("strong");

let precioNumber = 0;
 
  for (var i=0; i<containerPrecio.length; i++) {
     
  const  descuentos = containerPrecio[i].innerHTML

  const descuentos2 = descuentos.replace(/,/g, "");

   precioNumber = Number(descuentos2.slice(3))
    precioNumberEntero = Number(descuentos2.slice(3))

  console.log(precioNumber)
  
    }

 
  return  (precioNumber*0.9).toFixed(2)
  
}



// const caluloBanco = document.querySelector('.product__right--price')
// const contenedorBanco = document.createElement('div');
//  contenedorBanco.innerHTML =  precioBasepdp() ;
//  caluloBanco.appendChild(contenedorBanco);


   const caluloBanco = document.querySelector('.product__right--price .descricao-preco')
     const contenedorBanco = document.createElement('div');
contenedorBanco.classList.add("precioDescuentoPDP") ;
     
//       contenedorBanco.classList.add = ("precioDescuentoPLP") ;
//  contenedorBanco.innerHTML = precioDesceunto ;

 caluloBanco.appendChild(contenedorBanco);

 const strongDescuento = document.createElement('div');
//  strongDescuento.classList.add("precioDescuentoPLP") ;
strongDescuento.innerHTML = "S/" +  precioBasepdp() ;
strongDescuento.classList.add("precioNumberDescuentoPDP") ;
 contenedorBanco.appendChild(strongDescuento);



 const imgDescuento = document.createElement('div');
 imgDescuento.classList.add("containerImgDescuentos") ;

 contenedorBanco.appendChild( imgDescuento);


 const imgDescuento1 = document.createElement('img');

 imgDescuento1.src = "https://boudenpe.vteximg.com.br/arquivos/bbva-120x60-27.jpg"
imgDescuento.classList.add("containerImgDescuentos1") ;
imgDescuento.appendChild( imgDescuento1);


  const imgDescuento2 = document.createElement('img');

 imgDescuento2.src = "https://boudenpe.vteximg.com.br/arquivos/diners-120x60-27.jpg"
imgDescuento.classList.add("containerImgDescuentos1") ;
imgDescuento.appendChild( imgDescuento2);

const cuotasBancosDesktop = (precioBasepdp()/6).toFixed(2)

const txtCuotasBanco = document.querySelector(".coutas-producto-text-fiestas")
txtCuotasBanco.innerText = `ó en 6 cuotas de S/ ${cuotasBancosDesktop} sin interés`
 
const txtCuotasBancos = document.querySelector(".textcuotas16-09-2021");

txtCuotasBancos.innerText = cuotasBancosDesktop




/*descuento pdp mobile*/

  const caluloBanco1 = document.querySelector('.product-content__sheet-left--price-mobile .descricao-preco')
     const contenedorBanco1 = document.createElement('div');
contenedorBanco1.classList.add("precioDescuentoPDP") ;
     
//       contenedorBanco.classList.add = ("precioDescuentoPLP") ;
//  contenedorBanco.innerHTML = precioDesceunto ;

 caluloBanco1.appendChild(contenedorBanco1);

 const strongDescuento1 = document.createElement('div');
//  strongDescuento.classList.add("precioDescuentoPLP") ;
strongDescuento1.innerHTML = "S/" +  precioBasepdp() ;
strongDescuento1.classList.add("precioNumberDescuentoPDP") ;
 contenedorBanco1.appendChild(strongDescuento1);



 const imgDescuento11 = document.createElement('div');
 imgDescuento11.classList.add("containerImgDescuentos") ;

 contenedorBanco1.appendChild(imgDescuento11);


 const imgDescuento12 = document.createElement('img');

 imgDescuento12.src = "https://boudenpe.vteximg.com.br/arquivos/bbva-120x60-27.jpg"
imgDescuento12.classList.add("containerImgDescuentos1") ;
imgDescuento11.appendChild( imgDescuento12);


  const imgDescuento13 = document.createElement('img');

 imgDescuento13.src = "https://boudenpe.vteximg.com.br/arquivos/diners-120x60-27.jpg"
imgDescuento13.classList.add("containerImgDescuentos1") ;
imgDescuento11.appendChild( imgDescuento13);
// console.log(precioBasepdp())




     