.CheckContainerGeneral {
  display: flex;
  flex-direction: column;
}

.CheckContainer {
  margin-top: 0.5rem;
display: flex;
flex-direction: row;
align-items: center;
align-content: center;
}

.messageText {
  font-size: 18px;
  color: #aeca0a;
  font-weight: 600;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  color: #004A93;
  margin-bottom: 3rem;
  align-content: center;
  flex-direction: column;

}

.preguntas {
  background-color: #ebf0f5;
  margin-left: 260px;
  margin-right: 260px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.respt {
  margin-bottom: 20px;
}

@media only screen and (max-width: 60em) {
  .preguntas {
    background-color: #bddcfb;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.spacer {
  background: #ffffff;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: .3rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
}

.form__container {
  width: 80%;
  margin: 0 auto;
}

.form__title {
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form h3,
.lr_h3 {
  width: 100%;
  margin: 1rem 0;
}

.form__input_group {
  margin-top: .5rem;
  /* width: 32.6%; */
  width: 90%;
  margin-right: .5rem;
}

.form__input_groupTC {
  /* width: 32.6%; */
  margin-top: 15px;
  margin-right: .5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.form__input_groupTC_container {
  display: flex;
  flex-direction: column;

}

.form__input_group_textarea {
  width: 100%;
  margin-right: .5rem;
}

.form__input_group_textarea textarea {
  height: auto;
  min-height: 50px;
}

.form__input_group span,
.form__input_group_textarea span {
  color: #004A93;
}

.checkTerminosyCondiciones {
  font-weight: 800;
  color: #004A93;
}

label {
  margin: 0.3rem 0;
  display: block;
  width: 100%;
  font-size: .9rem;
}

/* .campoRequerido {
  top: 2rem;
  background: #ffe699;
  font-size: .7rem;
  justify-content: center;
  padding: .3rem .5rem;
  margin-bottom: 1rem;
  position: absolute;
  z-index: 1;
  text-shadow: none;
} */

/* .campoRequerido:after {
  border-bottom: 10px solid #ffe699;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 1em;
  text-shadow: none;
} */

.form__field {
  width: 100%;
  padding: .22rem;
  border-radius: 0;
  border: 1px solid #004A93;
  font-size: .9rem;
  border-radius: 5px;
}

input.form__field {
  /* width: 95%;
  padding: .3rem; */
  background: rgb(169, 191, 212);
  border: none;
  /* color: #fff; */
  padding: 18px;
  width: 100%;
  border-radius: 28px;
  margin: 9px 0;
}

.form__button_container {
  display: flex;
  justify-content: flex-end;
  width: 99%;
  margin: 1rem 0;
}

.button_submit {
  background-color: #004A93;
  color: #fff;
  border: solid 0.04rem #004A93;
  text-transform: uppercase;
  height: 2.5rem;
  font-size: .8rem;
  cursor: pointer;
  border-radius: 5px !important;
  padding: .5rem 1rem;

}

.banner_initial_cyber_mobile {
  display: none;
}

@media only screen and (max-width: 60em) {
  .form__input_group {
    width: 100%;
  }

  .banner_initial_cyber_mobile {
    display: block;
  }

  .banner_initial_cyber {
    display: none;
  }
}

.txtLegales {
  padding-right: 100px;
  padding-left: 100px;
}

@media (max-width: 600px) {
  .txtLegales {
    padding-right: 15px;
    padding-left: 15px;
  }

  .form__field {
    width: 90% !important;
  }

  .preguntas {

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
